.chat-container {
    height: 95vh;
    width: 95%;
    max-width: 1500px;
    background: linear-gradient(135deg, #87CEEB 0%, #0000FF 100%);
    display: grid;
    grid-template-columns: 350px 1fr 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px auto;
}

@media (max-width: 1200px) {
    .chat-container {
        grid-template-columns: 300px 1fr;
    }
}

@media (max-width: 768px) {
    .chat {
        padding: 0;
    }

    .chat-container {
        height: 100vh;
        width: 100%;
        border-radius: 0;
        grid-template-columns: 1fr;
    }

    .chat-container > * {
        grid-column: 1;
        width: 100%;
    }

    .hidden {
        display: none !important;
    }
}
